@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

body {
    background-color: #059669;
  }
  .slider-track {
    transform: translateX(calc(var(--index) * -100%));
    transition: transform 700ms erase-in-out;
  }